body{
    color: rgb(2, 2, 31);
    background-color: crimson;
}
header{display: flex;
justify-content: space-between;}
nav ul{display: flex;

list-style: none;}
nav li{margin-right: 20px; }


h1{   
   
    text-align: center;
    font-size: 100px;
    text-decoration: underline;
    

}

.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;

}


p{
    text-transform: lowercase;
}

.subtitulo_color{ 
    color:rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedor_padre {max-width:800px;
margin: auto;
justify-content: center; 
display: flex;
flex-wrap: wrap;
}

.card{
    background-color: whitesmoke;
    width: 650px;
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    border-radius: 100px;
    margin: 20px
}

@media screen and(max_width:700px){
  header{ flex-direction: column;
  align-items: flex-start;}
  
}
